.finger {
  width: 70px;
  height: 70px;
  font-size: 70px;
  animation: finger 5s linear infinite alternate-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes finger {
  0% {
    transform: translateX(75px) rotateZ(-5deg);
    opacity: 0.8;
  }
  15% {
    transform: translateX(75px) rotateZ(-15deg) scale(0.8);
    opacity: 0.6;
  }
  30% {
    transform: translateX(-75px) rotateZ(-15deg) scale(0.8);
    opacity: 0.6;
  }
  45% {
    transform: translateX(-75px) rotateZ(-5deg);
    opacity: 0.8;
  }
  59% {
    transform: translateX(-75px) rotateZ(-5deg);
    opacity: 0.8;
  }
  74% {
    transform: translateX(-75px) rotateZ(-15deg) scale(0.8);
    opacity: 0.6;
  }
  85% {
    transform: translateX(75px) rotateZ(-15deg) scale(0.8);
    opacity: 0.6;
  }
  to {
    transform: translateX(75px) rotateZ(-5deg);
    opacity: 0.8;
  }
}
