@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  overflow: hidden;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  background: black;
  /* background: black linear-gradient(180deg, #2F6DBB, #A9B7BD 40%, #E7D09F, #979BA0); */
  color: white;
  margin: 0;
  --dimmed: rgba(255, 255, 255, 0.5);
  font-family: JustFontFenYuan, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

a:active {
  opacity: 0.8;
}

audio[controls] {
  filter: brightness(90%) invert(90%);
}

@keyframes border-pulse {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgba(0 0 0/0.3);
  }
}
