@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  background: black linear-gradient(180deg, #2F6DBB, #A9B7BD 40%, #E7D09F, #979BA0);
  color: white;
  margin: 0;
  --dimmed: rgba(255, 255, 255, 0.5);
  font-family: JustFontFenYuan, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

a:active {
  opacity: 0.8;
}

audio[controls] {
  filter: invert(90%);
}

.border-pulse {
  animation: border-pulse 0.7s ease-in-out infinite alternate;
}

@keyframes border-pulse {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgba(0 0 0/0.3);
  }
}

.btn-3d {
  color: white;
  border: 1px solid #888;
  border-radius: 9999px; 
  box-shadow: 2px 2px 5px rgba(0 0 0/0.5), inset 1px 1px 3px rgba(0 0 0/0.5);
  background-image: linear-gradient(45deg,rgba(255 255 255/.24),rgba(255 255 255/.2),rgba(255 255 255/.125),rgba(255 255 255/.24),rgba(255 255 255/.0125));
}

.nest-frame {
  border-image: url("../public/assets/nest.svg") 12 round;
  /* border-image-width: 30px;
  border-image-outset: 4px;
  border-width: 22px; */
}

.anim-cloud {
  animation: anim-cloud linear infinite;
}

@keyframes anim-cloud {
  from {transform: translateX(100vw)}
  to {transform: translateX(-100%)}
}